svg{
    display: block;
    margin: auto;
}
.form-style-01-01{
    max-width: 600px;
    padding: 6px 6px 6px 6px;
    font: 13px Arial, Helvetica, sans-serif;;
}
.form-style-01-01 label{
    display: block;
    margin: 0px 0px 6px 0px;
    font: 13px Arial, Helvetica, sans-serif;
    color: #333;
    margin-left: 0px;
    text-align: start;
    height: 31px;
    line-height: normal;
}
.form-style-01-01 label > span{
    width: 180px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-01-01 span.required{
    color:red;
}

.form-style-01-01 input.input-field-01-01{
    width: 25%;
}
.form-style-01-01 input.input-field-01-01{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-01-01 .input-field-01-01:focus{
    border: 1px solid #0C0;
}


.button{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
	font: Arial, Helvetica, sans-serif;
}

.button:hover,
.button:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.bar {
  fill: #4B99AD;
	border: none;
    color: #fff;

}

.bar:hover {
  fill: #4691A4;
}

.axis {
  font: 10px Arial, Helvetica, sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #606060;
  shape-rendering: crispEdges;
}


.toolTip {
	box-sizing: border-box;
	background-color: #FFFFFF;
	position: absolute;
	line-height: 0.5;
	font: 10px Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 4px;
	border: 0.5px solid #C2C2C2;
}


line {
    stroke: #606060;
}

path.marker {
    fill: #606060;
}

footer {
	font: 12px Arial, Helvetica,sans-serif;

}
