body {
  margin:0;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

svg {
  width:100%;
  height: 100%
}

.legend {
  font-size: 12px;
}

rect {
  cursor: pointer;
  stroke-width: 2;
}

rect.disabled {
  fill: transparent !important;
}

#chart {
  height: 360px;
  position: relative;
  width: 360px;
}

.tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	display: none;
	font-size: 12px;
	left: 130px;

	padding: 4px;
	position: absolute;
	height: auto;

	text-align: center;
	z-index: 10;
}

p {
	font: 12px sans-serif;
	 height: 360px;
  position: relative;
  width: 360px;

}

footer {
	font: 12px sans-serif;

}
